#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
img {
  width: 200px;
  height: 150px;
}
h1 {
  font-size: 28px;
  margin: 3vh 0 2vh;
}
span {
  font-weight: normal;
}
.card {
  width: 500px;
  padding: 4vh 1.5vw 10vh;
  margin-bottom: 5vh;
  background-color: #f9f9f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.infos {
  text-align: left;
  font-weight: 600;
  line-height: 1.75;
}
