@mixin tag {
  .technologies {
    gap: 0.35rem;
    margin: 1vh 0 2.5vh;
    flex-wrap: wrap;
    display: flex;
    .item {
      @include themify($themes) {
        background-color: themed('yellowColor');
      }

      padding: 0 1vw;
      border-radius: 2rem;
      white-space: nowrap;
    }
  }
}
