/* Theme  */

.light {
  --bg-color: #f9f9ff;
  --font-color: #353335;
}
.dark {
  --bg-color: #353838;
  --font-color: #ccc;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.1s ease;
}
body {
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  color: var(--font-color);
  overflow-x: hidden;
  max-width: 1650px;
  margin: 0 auto;
  padding: 2vh 6vw;
}
nav {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 5vw;
}
ul a {
  text-decoration: none;
}
li {
  color: var(--font-color);
}
h1 {
  font-weight: bold;
}
section {
  margin: 16vh 0;
}
section > h1 {
  margin: 4vh 0;
  font-size: 2rem;
}

svg:hover {
  color: #ffd15c;
}

.theme-button {
  cursor: pointer;
  font-size: 1.3rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo {
  flex: 1;
}

.navbar-links {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.navbar-links a {
  margin-right: 20px;
}

.navbar-toggle {
  display: none;
}

/* Main Container */

.main {
  text-align: center;
}
.about-photo {
  flex: 1;
}

.profile-photo {
  width: 150px;
  border-radius: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 3px 8px);
}

.social-icons {
  justify-content: center;
  font-size: 1.75rem;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5vh 0;
}
li {
  display: flex;
  align-items: center; /* centraliza o elemento na vertical */
  justify-content: center; /* centraliza o elemento na horizontal */
}
button {
  padding: 1.5vh 2.5vw;
  border-radius: 30px;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #333;
}

a:hover,
button:hover {
  transform: scale(1.1);
}
.about {
  display: flex;
  color: #333;
}
.info-card {
  flex: 3.5;
  background-color: #fff;
  border-radius: 1.3rem;
  padding: 3vh 3vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  display: flex;
  position: relative;
}

.info-card::after {
  content: '';
  position: absolute;
  border: 0.75em solid transparent;
  border-left: none;
  border-right-color: #fff;
  display: block;
  width: 0;
  height: 0;
  right: 100%;
  top: 50px;
  filter: drop-shadow(rgba(212, 18, 18, 0.05) 0px 1px 2px 0px);
}
.info-text,
.skills {
  flex: 1;
}
.info-text p {
  padding-right: 1.5vw;
}
.info-text button {
  margin: 3vh 0;
}

/* Progress Bar */

.progress-bar,
.bar {
  height: 8px;
  border-radius: 30px;
}
.progress-bar {
  width: 100%;
  background-color: #f1f1f1;
  margin: 1.4vh 0;
}
button,
.bar {
  background-color: #ffd15c;
}
.skills-description {
  display: flex;
}
.skills-description h4:nth-child(2) {
  margin-left: auto;
  font-weight: 200;
}

.services,
.experience {
  display: flex;
  gap: 2rem;
}

/* Tech List */

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  border-radius: 1.3rem;
  padding: 3vh 3vw;
  row-gap: 3vh;
}
.tech-item p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}
/* Projects */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.element span {
  font-size: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
}

.text-title {
  line-height: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.text-subtitle {
  font-size: 1.1rem;
  color: gray;
}

.tech-item svg {
  font-size: 4rem;
}

.tech-item svg {
  font-size: 4rem;
}
.tech-item p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}
.Javascript svg {
  color: #f7d800;
}
.CSS svg {
  color: #006cb4;
}
.HTML svg {
  color: #f75421;
}
.Bootstrap svg {
  color: #5b397b;
}
.NodeJS svg {
  color: #6aa25a;
}
.Github svg {
  color: #0d2534;
}
.MySQL svg {
  color: #00718b;
}
.React svg {
  color: #5ed3f3;
}

/* ScrollBar */

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 1px 2px rgba(114, 110, 110, 0.25), 0 1px rgba(255, 255, 255, 0.05);
  background-color: #ccc;
}

::-webkit-scrollbar {
  box-shadow: inset 0 1px 2px rgba(114, 110, 110, 0.25), 0 1px rgba(255, 255, 255, 0.05);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #353335;
  border-radius: 50px;
}

/* Services */

.services .square:hover {
  transform: scale(1.15);
}

.square {
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 2rem;
  padding: 4vh 4vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  flex: 1;
}
.square > h1 {
  color: #333;
  padding: 1vh 0 0.5vh;
}

/* Experience */

.experience .square {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exp-container p:nth-child(1) {
  color: rgb(121, 121, 121);
}
.exp-icon {
  font-size: 2rem;
  color: #ffd15c;
  margin-right: 1rem;
}
.exp-container {
  display: flex;
  padding: 1vw 0;
  overflow: hidden;
}
.exp-line {
  height: 100%;
  width: 2px;
  background-color: #ffd15c;
  margin: auto;
}

/* Media Queries */

@media (max-width: 630px) {
  section > h1 {
    text-align: center;
  }

  /* Navbar */

  .navbar {
    position: relative;
  }
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: flex;
    align-items: center; /* centraliza o elemento na vertical */
    justify-content: center; /* centraliza o elemento na horizontal */
    font-size: 1.5rem;
  }

  .navbar-links.open {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--bg-color);
    width: 100%;
    padding: 10px;
    z-index: 1;
  }

  .navbar-links.open ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 3vw;
    flex-direction: column;
    align-items: center;
  }
  .navbar-links a {
    margin: 0;
  }

  .services,
  .experience {
    flex-direction: column;
  }
  .tech-list > .tech-item {
    flex: 1 0 50%;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2.5rem;
  }
  .element {
    display: flex;
    width: 210px;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .text-title {
    font-size: 2.3rem;
  }

  .experience .square {
    padding: 5vh 10vw;
  }
  .about {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    row-gap: 3vh;
  }
  .info-card {
    flex-direction: column;
    row-gap: 2vh;
  }
  .info-card::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 180px;
    top: -11px;
    border: 0.75rem solid transparent;
    border-top: none;

    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  }
  .info-text {
    text-align: center;
  }
}

@media (min-width: 635px) and (max-width: 870px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
  .services,
  .experience {
    flex-direction: column;
  }
  .experience .square {
    padding: 3vh 15vw;
  }
  .tech-item {
    flex: 1 0 calc(100% / 4);
  }
}
