@import './colors.scss';
@import './mixins/button.scss';
@import './components/general.scss';
@import './components/navbar.scss';
@import './components/mainContainer.scss';
@import './components/about.scss';
@import './components/progressBar.scss';
@import './components/techList.scss';


.services,
.experience,
.projects {
  display: flex;
  gap: 2rem;
}

/* Projects */

.projects {
  flex-wrap: wrap;
  color: #333;
}

.projects .square {
  flex: 1 0 30%;
  padding: 5vh 2.5vw;
}

.projects .title {
  display: flex;
  align-items: center;

  text-align: center;
  gap: 0.5rem;
}

.projects .title > svg {
  font-size: 1.75rem;
}

.technologies {
  display: flex;
  align-items: center;

  gap: 0.35rem;
  margin: 1vh 0 2.5vh;
  flex-wrap: wrap;
}
.item {
  background-color: var(--yellow);
  padding: 0 1vw;
  border-radius: 2rem;
  white-space: nowrap;
}

.projects .description p {
  margin-bottom: 4vh;
}

.projects .description p,
.projects .links {
  text-align: left;
}

.projects .links {
  display: flex;
  align-items: center;

  font-size: 1.35rem;
  gap: 1rem;
  transition-delay: 0.5s;
}

.projects .links a {
  color: #333;
}
/* Tech Skills */

.tech-item svg {
  font-size: 4rem;
}

.tech-item p {
  font-size: 1.1rem;
  font-weight: bold;
}
.Javascript svg {
  color: #f7d800;
}
.CSS svg {
  color: #006cb4;
}
.HTML svg {
  color: #f75421;
}
.Bootstrap svg {
  color: #5b397b;
}
.NodeJS svg {
  color: #6aa25a;
}
.Github svg {
  color: #0d2534;
}
.MySQL svg {
  color: #00718b;
}
.React svg {
  color: #5ed3f3;
}

/* ScrollBar */

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 1px 2px rgba(114, 110, 110, 0.25), 0 1px rgba(255, 255, 255, 0.05);
  background-color: var(--white);
}

::-webkit-scrollbar {
  box-shadow: inset 0 1px 2px rgba(114, 110, 110, 0.25), 0 1px rgba(255, 255, 255, 0.05);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border-radius: 50px;
}

/* Services */

.services .square:hover {
  transform: scale(1.15);
}

.square {
  background-color: var(--white);
  color: var(--dark-gray);
  text-align: center;
  border-radius: 2rem;
  padding: 4vh 4vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  flex: 1;
}
.square > h1 {
  color: var(--dark-gray);
  padding: 1vh 0 0.5vh;
}

/* Experience */

.experience .square {
  display: flex;
  
  text-align: left;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
}
.exp-container p:nth-child(1) {
  color: var(--dark-gray);
}
.exp-icon {
  font-size: 1.6rem;
  color: var(--yellow);
  margin-right: 1rem;
}
.exp-container {
  display: flex;
  padding: 1vw 0;
  overflow: hidden;
}
.exp-line {
  height: 100%;
  width: 2px;
  background-color: var(--yellow);
  margin: auto;
}

/* Form */

.contact-container {
  display: flex;
}

.form-container {
  flex: 2;
}
.form-info-container {
  flex: 1;
  position: relative;
  color: var(--font-color);
}
.form-info-container img {
  position: absolute;
}
.form-info-container a {
  color: var(--yellow);
}
.form-row {
  display: flex;
  gap: 2vw;
}

.send-message {
  background-color: #ebfbf5;
  color: #35d39d;
  border-radius: 25px;
  padding: 1vh 2vw;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 0 2vh;
  font-weight: 500;
  align-items: center;
  transition: 0.5s;
}
.send-message svg {
  font-size: 1.1rem;
  margin-right: 0.3vw;
}

/* Media Queries */

@media (max-width: 630px) {
  section > h1 {
    text-align: center;
  }

  .services,
  .experience {
    flex-direction: column;
  }
  .tech-list > .tech-item {
    flex: 1 0 50%;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2.5rem;
  }
  .element {
    display: flex;
    width: 210px;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .text-title {
    font-size: 2.3rem;
  }

  .experience .square {
    padding: 5vh 10vw;
  }
  
  button {
    padding: 1.5vh 4vw;
    cursor: pointer;
  }
  input {
    margin-bottom: 2vh;
  }

  .contact-container {
    flex-direction: column;
  }
  .form-info-container {
    text-align: center;
    margin-bottom: 3.5vh;
  }
  .form-row {
    flex-direction: column;
  }
  .projects .square {
    flex: 1 0 100%;
    padding: 4vh 4vw;
  }
  .projects .technologies .item {
    padding: 0 3vw;
  }
}

@media (min-width: 635px) and (max-width: 870px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
  .services,
  .experience {
    flex-direction: column;
  }
  .experience .square {
    padding: 3vh 15vw;
  }
  .tech-item {
    flex: 1 0 calc(100% / 4);
  }
}
@media (min-width: 635px) and (max-width: 1167px) {
  .projects .square {
    flex: 1 0 40%;
  }
}
