@import '../mixins/mixins.scss';

@mixin setupArrowChatBallon {
  border: 0.75em solid transparent;
  border-left: none;
  border-right-color: var(--white);
  content: '';
  position: absolute;
  right: 100%;
  top: 50px;
}

.about {
  display: flex;
  color: var(--dark-gray);
  .photo {
    flex: 1;
    img {
      @include setupProfilePhoto;
    }
  }
  .summary {
    display: flex;
    flex: 3.5;
    background-color: var(--white);
    border-radius: 1.3rem;
    padding: 3vh 3vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    position: relative;
    gap: 10px;
  }
  & ::after {
    @include setupArrowChatBallon;
  }
  .about-text {
    button {
      margin: 3vh 0;
    }
  }
  .about-text,
  .skills {
    flex: 1;
  }
}

@media (max-width: 630px) {
  .about {
    flex-direction: column;
    text-align: center;
    row-gap: 2vh;
    .summary {
      flex-direction: column;
    }
    & ::after {
      border: none;
    }
  }
}

@media (min-width: 635px) and (max-width: 870px) {
  .about {
    flex-direction: column;
    text-align: center;
    row-gap: 2vh;
    .summary {
      flex-direction: column;
    }
    & ::after {
      border: none;
    }
  }
}
