/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.1s ease;
}
body {
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  color: var(--font-color);
  overflow-x: hidden;
  max-width: 1650px;
  margin: 0 auto;
  padding: 2vh 6vw;
}
nav {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 5vw;
}
ul a {
  text-decoration: none;
}
li {
  color: var(--font-color);
}
h1 {
  font-weight: bold;
}
section {
  margin: 20vh 0;
}
section > h1 {
  margin: 4vh 0;
  font-size: 2rem;
  color: var(--font-color);
}

input {
  height: 10px;
}

input,
textarea {
  width: 100%;
  border: none;
  background: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 3vh;
  font-size: 0.85rem;
  color: var(--dark-gray);
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
input::placeholder,
textarea::placeholder {
  font-weight: 500;
  color: var(--light-gray);
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg:hover {
  color: var(--yellow);
}

a:hover {
  transform: scale(1.1);
}
